<!-- This stuff is for Search functionality using two text-box -->
<input type="text" placeholder="category" 
[(ngModel)]="category" 
(ngModelChange)="category = $event">
<input type="text" placeholder="product name" 
[(ngModel)]="product_name" 
(ngModelChange)="product_name = $event">
<table border="1">
  <thead>
    <tr>
      <td><b>Product Id</b></td>
      <td><b>Product Name</b></td>
      <td><b>Product Price</b></td>
      <td><b>Product Category</b></td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of productList
     | search : {category: category, name: product_name}
      : true">
      <td>{{product.id}}</td>
      <td>{{product.name}}</td>
      <td>{{product.price}}</td>
      <td>{{product.category}}</td>
    </tr>
  </tbody>
</table>

